<ion-header>

  <ion-navbar>
    <ion-title>store</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>

    <ion-item-group>
      <ion-item-divider color="light">Gazuah Boosts</ion-item-divider>
      <ion-item *ngFor="let boost of boosts">
        <sales-item [item]="boost"></sales-item>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="dark">Gazuah Points</ion-item-divider>
      <ion-item *ngFor="let point of points">
        <sales-item [item]="point"></sales-item>
      </ion-item>
    </ion-item-group>

  </ion-list>
</ion-content>
