page-store {

  .item-divider {
    background: transparent;
    color: rgba(97, 97, 97, 1);
    font-size: 17px;
    line-height: 17px;
    height: 17px !important;
    border-bottom: none !important;
    padding-left: 0px;
  }

  ion-list {
    margin: 0 5px !important;
  }

  ion-item {
    &.item-block {
      height: 51px;
      border-bottom: none !important;
      margin: 8px 0;
      background: rgba(255, 255, 255, 0.85);
      border-radius: 10px;
      //padding: 0 20px 0 16px;
      font-size: 17px;
      line-spacing: -0.4px;

      &.boosts-alarm-wrap {
        text-align: center;
        padding: 0px
      }
    }
  }
}
