<ion-header>

  <ion-navbar>
    <!--<ion-title>ranking</ion-title>-->
    <ion-select [(ngModel)]="standard" interface="popover">
      <ion-option value="weekly">Weekly</ion-option>
      <ion-option value="monthly">Monthly</ion-option>
      <ion-option value="overall">Overall</ion-option>
    </ion-select>
  </ion-navbar>

</ion-header>


<ion-content>

  <div #rankWrap >
    <ion-item>
      <ion-avatar item-start>
        <img src="https://www.postplanner.com/hs-fs/hub/513577/file-2909864225-gif/blog-files/facebook-thumbnail-250px.gif?t=1517797518958&width=250&height=250&name=facebook-thumbnail-250px.gif">
      </ion-avatar>
      <p>Hayao Miyazaki • 1988</p>
      <div class="rank">
        <ion-icon name="star"></ion-icon>
        <p class="rank-text">10000 th</p>
      </div>
    </ion-item>
  </div>

  <ion-list class="top-margin">
    <!--<ion-item *ngFor="let i of items">{{i}}</ion-item>-->
    <ion-card *ngFor="let item of items; let rank = index;">
      <ion-card-header>
        {{rank + 1}}
      </ion-card-header>
      <ion-card-content>
        {{item}}
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
