<div class="sales-item-wrap">
  <div class="boosts-alarm-wrap" *ngIf="isAlarm">
    <span class="boosts-alarm">
        Your boosts ends in 32 seconds
    </span>
  </div>

  <div class="sales-item-info" *ngIf="!isAlarm">
            <span class="desc">
              {{label}}
            </span>
    <span class="cost">
              ${{cost}}
            </span>
    <ion-icon class="info-icon" ios="ios-information-circle-outline"
              md="ios-information-circle-outline"></ion-icon>
  </div>
  <div class="button-wrap">
    <ion-buttons class="clear">
      BUY
    </ion-buttons>
  </div>
</div>
